
	body {
		font-family: "Source Sans Pro", helvetica;
		font-size: 16px;
		font-weight: normal;
		color: #000000;
		margin: 0;
		text-align: center;
		background-color: #EEEEEE;

	}

	hr {
		width: 100%;
		height: 1px;
		border: solid;
		border-width: 0px 0px 1px 0px;
		border-color: #EEEEEE #EEEEEE #AAAAAA #EEEEEE;
		overflow: hidden;
		margin: 6px 0px 6px 0px;
		float: left;
	}

	a:link, a:visited {
		color: #004477;
		text-decoration: none;
	}

	a:hover {
		color: #115588;
		text-decoration: underline;
	}

	h1 {
		font-family: "Roboto Condensed", helvetica;
		font-size: 32px;
		font-weight: bold;
		color: #115588;
		margin: 28px 0px 12px 0px;
	}

	.fakeH2 {
		font-family: "Roboto Condensed", helvetica;
		font-size: 20px;
		font-weight: normal;
		color: #AB4A1A;
		margin: 12px 0px 12px 0px;
	}

	.fixh1 {
		margin-top: 10px;
	}

	select {
		height: 26px;
	}

	#fhtext {
		font-family: "Roboto Condensed", helvetica;
		font-size: 32px;
		font-weight: normal;
		color: #FDFDDD;
		line-height: 100px;
		display: inline;
		text-transform: uppercase;
	}

	#fheader {
		width: 100%;
		height: 100px;
		background-color: #115588;
		position: fixed;
		left: 0;
		top: 0;
		margin-bottom: 30px;
		float: left;
	}

	#fheadercontent {
		width: 1000px;
		height: 100px;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	#fheaderback {
		width: 100%;
		height: 100px;
		margin-bottom: 30px;
		float: left;
	}

	#logimg {
		width: 48px;
		height: auto;
	}


	#wrapper {
		width: 1000px;
		height: auto;
		text-align: left;
		margin-left: auto;
		margin-right: auto;
	}

	#content-left {
		width: 790px;
		height: auto;
		min-height: 800px;
		text-align: left;
		display: inline-block;
		float: left;
	}

	#content-spacer {
		width: 30px;
		height: auto;
		min-height: 800px;
		text-align: left;
		display: inline-block;
		float: left;
	}

	#content-right {
		width: 180px;
		height: auto;
		min-height: 800px;
		text-align: left;
		display: inline-block;
		float: left;
	}

	.menu-panel {
		width: 50%;
		height: auto;
		min-height: 800px;
		text-align: left;
		display: inline-block;
		float: left;
	}

	.menu-dark {
		background-color: #DFDFDF;
	}

	.menu-light {
		background-color: transparent;
	}

	.spacer {
		width: 8px;
	}

	.alright {
		text-align: right;
	}

	.grey {
		background-color: #DFDFDF;
	}

	.menutable {
		border-collapse: collapse;
	}

	.menutable td {
		font-family: "Source Sans Pro", helvetica;
		font-size: 16px;
		font-weight: normal;
		color: #000000;
		padding: 8px;
		white-space: nowrap;
	}

	.menutable td a:link, a:visited {
		color: #004477;
		text-decoration: none;
	}

	.menutable td a:hover {
		color: #115588;
		text-decoration: underline;
	}


	.formtable {
		border-collapse: collapse;
	}

	.formtable td {
		font-family: "Source Sans Pro", helvetica;
		font-size: 16px;
		font-weight: normal;
		color: #000000;
		padding: 4px;
		white-space: nowrap;
	}

	.formtable th {
		font-family: "Source Sans Pro", helvetica;
		font-size: 16px;
		font-weight: bold;
		color: #AB4A1A;
		padding: 4px;
		white-space: nowrap;
	}

	.formtable td a:link, a:visited {
		color: #004477;
		text-decoration: none;
	}

	.formtable td a:hover {
		color: #115588;
		text-decoration: underline;
	}

	.formcopy {
		font-family: helvetica;
		font-size: 14px;
		font-weight: bold;
		color: #666666;
		text-align: right;
		padding-right: 6px;
	}

	.formbox {
		width: 300px;
		font-family: helvetica;
		font-size: 14px;
		font-weight: normal;
		color: #222222;
		line-height: 22px;
		background-color: #FFFFFF;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		padding-left: 3px;
	}

	.formbutton {
		width: auto;
		height: auto;
		font-family: helvetica;
		font-size: 14px;
		font-weight: normal;
		line-height: 16pt;
		color: #FFFFFF;
		padding-left: 6px;
		padding-right: 6px;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		background-color: #115588;
		background: linear-gradient(#226699, #004477);
		text-transform: uppercase;
		cursor: pointer;
	}

	.formarea {
		height: 100px;
		resize: none;
	}

	.shortbox {
		width: 100px;
	}

	.shortselect {
		width: 106px;
	}

	.timebox {
		width: 96px;
	}

	.addtext {
		color: #004477;
		text-align: right;
	}

	.active {
		width: 84px;
	}

	.numbox {
		width: 50px;
	}

	.admin-img {
		width: 200px;
	}

	.img-sort {
		width: 40px;
		text-align: right;
		padding-right: 4px;
	}

	.vid {
		width: 300px;
		height: 186px;
	}

	.pad-bottom {
		width: 100%;
		height: 40px;
		float: left;
	}

	.bumpdown {
		margin-top: 30px;
	}

	.vidrow {
		width: 100%;
		height: auto;
		margin-bottom: 30px;
		text-align: left;
		float: left;
	}

	.vidouter {
		width: 300px;
		height: auto;
		text-align: center;
		display: inline-block;
		margin-right: 50px;
		float: left;
	}

	.vidtop {
		width: 300px;
		height: auto;
		float: left;
		text-align: center;
		white-space: nowrap;
	}

	.vid {
		width: 300px;
		height: 186px;
		margin: 8px 0px 8px 0px;
		float: left;
	}

	.vidpic {
		overflow: hidden;
	}

	.adminpic {
		width: 300px;
	}

	.vidspace {
		width: 100%;
		height: 40px;
	}

	.menu-right {
		width: 84%;
		margin-left: 40px;
	}

	.pictable td {
		width: 30%;
		height: auto;
		background-color: #DFDFDF;
		margin: 4px;
		padding: 4px;
		text-align: center;
		vertical-align: top;
	}

	.pictable img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}

	.waiter {
		margin-right: 20px;
		visibility: hidden;
	}

	.waiter-show {
		margin-right: 20px;
		visibility: visible;
	}

	.imgbank {
		padding: 20px;
	}

	.bankimg {
 		width: 200px;
		padding-bottom: 4px;
		margin-left: auto;
		margin-right: auto;
	}

	.banktd {
		margin-bottom: 12px;
	}

	.bankpic {
		width: 100%;
		height: 240px;
		overflow: hidden;
	}

	.bankdiv {
		width: 100%;
		height: auto;
	}

	.bankremove {
		margin-top: 6px;
		margin-bottom: 6px;
	}

	.makeblock1 {
 		width: 100%;
		height: auto;
		padding-bottom: 4px;
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	.makeblock2 {
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
		float: left;
	}

	.rule {
		width: 100%;
		height: 1px;
		background-color: #888888;
		margin-top: 6px;
		margin-bottom: 6px;
		display: block;
		float: left;
		overflow: hidden;
	}

	.datebox {
		width: 80px;
	}

	#helper {
		width: 300px;
		height: 500px;
		background-color: #FFFFFF;
		border: 1px solid #CCCCCC;
		z-index: 500000;
		position: absolute;
		left: 20px;
		top: 20px;
		padding: 16px;
		text-align: center;
	}

	.helper-hidden {
		visibility: hidden;
	}

	.helper-hidden {
		visibility: visible;
	}

	.bankbody {
		 padding: 0px 20px 20px 20px;"
	}

	.bankbutton {
 		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
	}

	.bankspace {
		width: 100%;
		height: 20px;
	}

	.banktitle {
		color: #555555;
		font-weight: bold;
	}

	.bankbox {
		width: 100%;
		font-family: helvetica;
		font-size: 14px;
		font-weight: normal;
		color: #222222;
		line-height: 22px;
		background-color: #FFFFFF;
		border: 1px solid #AAAAAA;
		border-radius: 6px;
		padding-left: 3px;
	}

	.hspace {
		width: 20px;
	}

	.selectbar {
		width: 100%;
		height: auto;
		background-color: #DFDFDF;
		padding: 3px;
		border: 1px solid #BBBBBB;
		border-radius: 3px;
		margin-bottom: 20px;
		float: left;
	}

	.green {
		background-color: #CCDDCC;
		padding-right: 32px;
		padding-left: 4px;
	}

	.mask-on {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		text-align: center;
		visibility: visible;
		z-index: 5;
	}

	.detail-on {
		width: 800px;
		height: auto;
		background-color: #FFFFFF;
		opacity: 1.0 !important;
		border: 1px solid #AAAAAA;
		border-radius: 12px;
		padding: 18px;
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		visibility: visible;
		z-index: 10;
	}

	.detail-on-large {
		height: auto;
	}

	.detail-outer-on {
		width: 100%;
		height: auto;
		margin-top: 460px;
		text-align: center;
		float: left;
		z-index: 7;
	}

	.detail-header {
		font-size: 13px;
		font-weight: bold;
		color: #005FAA;
		text-align: left;
	}

	.outer-large {
		margin-top: 200px;
	}

	#detail-row {
		width: 100%;
		height: auto;
		float: left;
	}

	#detail-left {
		width: auto;
		height: auto;
		display: inline;
		margin-right: 20px;
		float: left;
	}

	#detail-right {
		width: auto;
		height: auto;
		display: inline;
		float: left;
	}

	.detailtable {
		width: auto;
	}

	.detailtable td {
		min-width: 140px;
	}

	legend {
		font-size: 13px;
		font-weight: bold;
		color: #115588;
		text-align: left;
	}

	.tformtable {
		width: 100%;
	}

	.tformtable td {
		padding: 2px;
		white-space: nowrap;
	}

	.tformtable th {
		font-size: 12px;
		font-weight: bold;
		color: #005FAA;
		text-align: left;
		white-space: nowrap;
	}

	.tshort {
		width: auto;
	}

	.tcopy {
		width: 112px;
		font-size: 13px;
		font-weight: normal;
		color: #000000;
		text-align: left;
	}

	.smallbutton {
		width: auto;
		height: auto;
		font-family: helvetica;
		font-size: 11px;
		font-weight: normal;
		line-height: 12pt;
		color: #222222;
		padding-left: 6px;
		padding-right: 6px;
		border: 1px solid #AAAAAA;
		border-radius: 4px;
		background-color: #115588;
		background: linear-gradient(#DFDFDF, #BFBFBF);
		text-transform: uppercase;
		cursor: pointer;
	}

	.vanish {
		width: 0px;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
	}

	.center {
		text-align: center;
	}

	.errorbox-off {
		width: 0px;
		height: 0px;
		overflow: hidden;
		visibility: hidden;
	}

	.errorbox-on {
		width: 100%;
		height: auto;
		padding: 6px;
		background-color: #EEDDDD;
		visibility: visible;
	}

	.errorbox-on p {
		margin: 0px 0px 4px 0px;
	}





