
	.errorbox-on {
		width: 100%;
		height: auto;
		padding: 6px;
		background-color: #EEDDDD;
		border: 1px solid #CCCCCC;
		border-radius: 2px;
		margin-bottom: 8px;
	}

	.errorbox-on p {
		margin-bottom: 4px;
	}

	.alright {
		text-align: right;
	}

	.white {
		color: #EEEEEE !important;
	}

	.greyMenu {
		background-color: #777777 !important;
	}

	.greyMenuBox {
		border: 1px solid #777777 !important;

	}

	.tableRow td:not(.verifiedCell) {
	    cursor: pointer;
	}

	.rowbottom {
		margin-bottom: 6px;
	}

	.vanish {
		width: 0px;
		height: 0px;
		overflow: hidden;
		visibility: hidden;
	}



