
	body {
		margin: 200px;
		text-align: left;
		background-color: #444444;
		font-family: helvetica;
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		color: #FEFEEE;
	}

	body a:link, a:visited {
		color: #FEFEEE;
		text-decoration: none;
	}

	body a:hover {
		color: #EDEDDD;
		text-decoration: underline;
	}

	h1 {
		font-size: 20px;
		color: #FEFEEE;
	}

	.row {
		width: 100%;
		height: auto;
		float: left;
	}

	#errorbox {
		width: 0px;
		height: 0px;
		overflow: hidden;
		visibility: hidden;
	}

	.errorbox-on {
		width: 100%;
		height: auto;
		padding: 6px;
		background-color: #EEDDDD;
		visibility: visible;
	}

	.errorbox-on p {
		margin: 0px 0px 4px 0px;
	}

	.vanish {
		width: 0px;
		height: 0px;
		visibility: hidden;
		overflow: hidden;
	}



